<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <system.web>
    <httpModules></httpModules>
    <compilation debug="true" targetFramework="4.0">
      <assemblies>
        <add assembly="System.Data.Entity, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" />
      </assemblies>
    </compilation>
  </system.web>
  <system.webServer>
    <modules runAllManagedModulesForAllRequests="true"></modules>
    <validation validateIntegratedModeConfiguration="false" />
  </system.webServer>
  <connectionStrings>
    <add name="ApplicationConnectionString" connectionString="Data Source=nsserver;User ID=UIAtomsSampleDB;Password=atom$789; Database=UIAtomsSampleDB;" />
    <!--<add name="UIAtomsSampleDBEntities" connectionString="metadata=res://*/NSData.csdl|res://*/NSData.ssdl|res://*/NSData.msl;provider=System.Data.SqlClient;provider connection string=&quot;Data Source=nsserver;Initial Catalog=UIAtomsSampleDB;User ID=UIAtomsSampleDB;Password=atom$789;MultipleActiveResultSets=True&quot;" providerName="System.Data.EntityClient" />-->
  </connectionStrings>
  <system.serviceModel>
    <serviceHostingEnvironment aspNetCompatibilityEnabled="true" />
  </system.serviceModel>
</configuration>